.nav {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  color:salmon;
  padding: 5px;
  border-width:.2px;
  border:solid salmon;
}

.nav a {
  color: white;
  text-decoration: none;
}
.coinHolder{
  border:solid lightblue;
  margin:1em;
  border-radius:8px;
  cursor:pointer;
}
.coinName{
  font-family:Abril Fatface;
  text-align:center;
}
.navTab{
  font-size:18px;
  border-width:.2px;
  border-radius:12px;
  padding-left:8px;
  padding-right:8px;
}
.navTab:hover{
  color:green;
  font-size:18px;
  border-width:.2px;
  border-radius:12px;
  padding-left:8px;
  padding-right:8px;
}
